[Unit]
Description=Start the TGED protocol daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/env python /bin/tgediscovery /etc/tgediscovery/services.json

[Install]
WantedBy=multi-user.target
